<table class="table table-bordered table-striped table-hover text-center">
    <thead>
        <tr>
            <td>编号：</td>
            <td>姓名：</td>
            <td>邮箱：</td>
            <td>电话：</td>
            <td>公司：</td>
            <td>详情：</td>
        </tr>
    </thead>
    <tbody *ngIf="users?.length>0 else noUsers">
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.company}}</td>
            <td><a class="btn btn-success btn-sm" [routerLink]="['/users/',user.id]">详情</a></td>
        </tr>
    </tbody>
</table>
<div class="row">
<ng-template #noUsers>
    <h1>没有用户数据</h1>
</ng-template>
</div>