<div class="well">
    <a type="text" class="btn btn-success btn-block" [routerLink]="['/edituser',id]">编辑</a>
    <a type="text" class="btn btn-danger btn-block" (click)="deleteUser(id)">删除</a>
</div>
<br>
<div class="well">
    <ul class="list-group">
        <li class="list-group-item">编号：{{user.id}}</li>
        <li class="list-group-item">姓名：{{user.name}}</li>
        <li class="list-group-item">邮箱：{{user.email}}</li>
        <li class="list-group-item">电话：{{user.phone}}</li>
        <li class="list-group-item">公司：{{user.company}}</li>
    </ul>
</div>
