<div class="well">
    <form class="form-group" #f="ngForm" (submit)="addUser(f.value)">
        <div class="row">
            <label for="name">姓名：</label>
            <input type="text"class="form-control" name="name" [(ngModel)]="user.name">
        </div>
        <div class="row">
            <label for="name">邮箱：</label>
            <input type="text"class="form-control" name="email" [(ngModel)]="user.email">
        </div>
        <div class="row">
            <label for="name">电话：</label>
            <input type="text"class="form-control" name="phone" [(ngModel)]="user.phone">
        </div>
        <div class="row">
            <label for="name">公司：</label>
            <input type="text"class="form-control" name="company" [(ngModel)]="user.company">
        </div>
        <div class="row">
            <input type="reset" value="重置" class="btn btn-danger btn-block">
            <input type="submit" class="btn btn-primary btn-block" value="提交">
        </div>
    </form>
</div>